.dish-add {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  outline: none;
  -moz-user-select: none;

  &__pointer {
    padding: 50px 0 0;
  }
}

.dish-add-pointer {
  display: block;

  &__text {
    display: inline-block;
    color: $c-main;
    font-family: $ff-s;
    text-transform: uppercase;
    font-size: 16px;
    vertical-align: middle;
    margin: 0 3px 0 0;
  }

  &__ico {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 4px;
  }

  &__arrow {
    display: block;

    &_first {
      position: relative;
      top: 3px;
    }

    &_last {

    }
  }
}