@font-face {
  font-family: "SUR";
  src: url("/fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("/fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SUB";
  src: url("/fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("/fonts/SegoeUIRegular/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SUI";
  src: url("/fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
  url("/fonts/SegoeUIRegular/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SUL";
  src: url("/fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("/fonts/SegoeUIRegular/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SUS";
  src: url("/fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
  url("/fonts/SegoeUIRegular/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}