/*footer*/
.footer {
  flex-shrink: 0;
  background: $c-bg-gray;

  @media screen and (max-width: 1200px) {
    width: 1200px;
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 108px;
    padding: 16px 15px;
    margin: 0 auto;
  }

  &__link {
    text-decoration: none;
    outline: none;
    user-select: none;
  }

  &__logo {
    width: 134px;
    height: 74px;
    vertical-align: top;
  }

  &__copy {
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: $ff-r;
    color: $c-pale;
    padding: 0 0 0 46px;
  }
}