.order {
  width: 472px;
  padding: 0;

  &_active .basket-indicator{
    color: $c-main;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    border-top: 2px solid $c-gray-light;
  }

  &__item {
    position: relative;
    border-bottom: 2px solid $c-gray-light;
    padding: 18% 0 0;
  }
}

.order-amount {
  position: relative;
  text-align: center;
  padding: 0 0 15px;

  &__minus,&__plus {
    position: relative;
    top: 9px;
    display: inline-flex;
    width: 26px;
    height: 26px;
    background: $c-main;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;

    &:hover {
      background: $hover;
    }
  }

  &__minus {
    left: 8px;
  }

  &__plus {
    right: 8px;
  }

  &__ico {
    position: relative;
    vertical-align: top;
    margin: auto;
  }

  &__result {
    display: inline-block;
    vertical-align: top;
  }

  &__num {
    display: block;
    font-size: 30px;
    font-family: $ff-s;
    margin: 0 0 3px;
  }

  &__text {
    display: block;
    font-size: 14px;
    font-family: $ff-b;
    text-transform: uppercase;
  }
}

.order-card {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__img-wrap {
    display: block;
    position: relative;
    width: 20%;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
  }

  &__img {
    display: block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: -50%;
    max-width: 160%;
    right: -50%;
    margin: auto;
  }

  &__title {
    display: block;
    width: 70%;
    height: 100%;
    padding: 7px 10px 0;
    vertical-align: top;
    font-size: 18px;
    font-family: $ff-b;
    text-decoration: none;
    color: $c-text;
  }

  &__remove {
    display: block;
    width: 10%;
    height: 100%;
    vertical-align: top;
    text-align: center;
  }

  &__remove-ico {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.order-total {
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: auto;
  display: block;

  &__title {
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $ff-r;
  }

  &__num {
    position: relative;
    top: 1px;
    margin: 0 0 0 8px;
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    font-size: 24px;
    text-transform: uppercase;
    font-family: $ff-s;
  }
}

.order-block {
  position: relative;
}