//fonts
$ff-r: "SUR";
$ff-b: "SUB";
$ff-i: "SUI";
$ff-l: "SUL";
$ff-s: "SUS";

//color
$c-main: #ff7404;
$c-pale: #878787;
$c-bg-light: #ff9138;
$c-bg-gray: #eaeaea;
$c-title: #535353;
$c-blue: #448aff;
$c-border: #d7d7d7;
$c-text: #3f3f3f;
$c-placeholder: #6f6f6f;
$c-dark: #e9731d;

$c-btn-google: #3367d6;
$c-btn-facebook: #4267b2;
$c-btn-gray: #f7f7f7;

$c-disable: #d8d8d8;

$c-gray-light: #e6e6e6;
$c-error: #ff0000;
$c-bg-error: #fff4f4;

/* fonts */
$reg: "Segoe UI", sans-serif;
$bold: "Segoe UI Semibold", sans-serif;
$font-black: "Segoe UI Black", sans-serif;

/* color */
$main: #ff7405;
$white: #fff;
$black: #000;
$blue: #448aff;
$hover: #ff9740;
